{% extends "base.html" %}
{% block content %}
    <h2 class="text-center mt-3">Ekstrakcja opinii</h2>
    <form class="container mt-3" action="{{url_for('extract')}}" method="POST">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="product_id" class="col-form-label">Kod Produktu</label>
            </div>
            <div class="col-auto">
                <input type="text" name="product_id" id="product_id" class="form-control"
                aria-describedby="product_idHelpInLine" placeholder="Podaj kod produktu" required>
            </div>
            <div class="col-auto">
                <span id="product_idHelpInLine" class="form-text">
                    Kod produktu musi zawierać 5-10 cyfr.
                </span>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-warning">Pobierz opinie</button>
            </div>
        </div>
    </form>
    {% if error is defined %}
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <strong>Wystąpił błąd</strong> {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{% endblock %}